body { 
    width: 100%;
    margin: 0;
}


.about { 
    width: 980px;
    margin: 0 auto;
    display: flex;
    height: 700px;
    align-items: center;
    background-color: #ffff;
}

.about .container { 
}


.about .container .col-1 { 
    text-align: center;
}



.about .container .col-1 img { 
    
}



.about .container .col-1 h1 { 
    color: red;
}


.about .container .col-1 p { 

}


.about .container .col-1 .email { 
    display: flex;
    margin: 0 auto;
}


.about .container .col-1 .pass { 
    display: flex;
    margin: 0 auto;
}